@import "tailwindcss";

.container{
    width : 95%;
    max-width: 1080px;
    margin: 0 auto;
}

#hero {
    background: linear-gradient(180deg, #FFF 0%, #EFEBE3 100%);
}

.serviceCardWrapper .serviceCard {
    background: var(--Secoundry, #EFEBE3);
}
.footerDesc p{
    color: rgba(255, 255, 255, 0.70);
}